In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline

# Для работы с матрицами
from scipy.sparse import csr_matrix, coo_matrix

# Детерминированные алгоритмы
from implicit.nearest_neighbours import ItemItemRecommender, CosineRecommender, TFIDFRecommender, BM25Recommender

# Метрики
from implicit.evaluation import train_test_split
from implicit.evaluation import precision_at_k, mean_average_precision_at_k, AUC_at_k, ndcg_at_k

In [3]:
data = pd.read_csv('./retail_train.csv')
data.sample(10)

,user_id,basket_id,day,item_id,quantity,sales_value,store_id,retail_disc,trans_time,week_no,coupon_disc,coupon_match_disc
431666,979,29276471769,172,835278,1,4.69,364,-0.50,1739,25,0.0,0.0
1211159,1005,32446125153,369,908318,0,0.00,400,0.00,833,53,0.0,0.0
708032,1900,30673750944,244,914777,2,6.31,329,0.00,1154,36,0.0,0.0
1836830,1990,35597750833,525,13417587,1,3.00,321,-2.39,1145,76,0.0,0.0
43604,1490,27577641213,50,5568445,1,3.50,31642,-1.09,1410,8,0.0,0.0
2360802,2232,41545392174,655,984957,1,2.79,443,0.00,1628,94,0.0,0.0
1877130,1976,35840841696,535,1034176,1,11.99,292,0.00,1659,77,0.0,0.0
654391,376,30503872580,229,9487571,1,1.79,298,-0.20,1735,33,0.0,0.0
362747,696,29019067926,154,934369,2,3.00,31742,-1.38,2250,23,0.0,0.0
107970,2456,27950736303,82,861272,1,0.69,289,0.00,1910,12,0.0,0.0

In [4]:
test_size_weeks = 3

data_train = data[data['week_no'] < data['week_no'].max() - test_size_weeks]
data_test = data[data['week_no'] >= data['week_no'].max() - test_size_weeks]

### Задание 1. Weighted Random Recommendation

Напишите код для случайных рекоммендаций, в которых вероятность рекомендовать товар прямо пропорциональна логарифму продаж
- Можно сэмплировать товары случайно, но пропорционально какому-либо весу
- Например, прямопропорционально популярности. Вес = log(sales_sum товара)

In [88]:
result = data_test.groupby('user_id')['item_id'].unique().reset_index()

In [89]:
result.columns = ['user_id', 'actual']
result.head(2)

   user_id                                             actual
0        1  [821867, 834484, 856942, 865456, 889248, 90795...
1        3  [835476, 851057, 872021, 878302, 879948, 90963...

In [17]:
def weights(data):
    
    items_weights = data.groupby('item_id')['sales_value'].sum().reset_index()
    items_weights['weight'] = items_weights.sales_value / items_weights.sales_value.sum()
    items_weights.drop(columns='sales_value', inplace=True)
    
    return items_weights

In [30]:
def weighted_random_recommendation(items_weights, n=5):
    
    recs = np.random.choice(items_weights.item_id, size=n, replace=False,
                            p=np.array(items_weights.weight)
                           )
    
    
    return recs.tolist()

In [82]:
items_weights = weights(data_train)

In [91]:
items_weights.head(2)

   item_id        weight
0    25671  2.969296e-06
1    26081  1.403822e-07

In [92]:
weighted_random_recommendation(items_weights, n=5) # проверка

[866211, 6704298, 925425, 9297511, 1017369]

In [90]:
%%time

result['weighted_random_recommendation'] = result['user_id'].apply(lambda x: weighted_random_recommendation(items_weights, n=5))
result.head()

Wall time: 2.56 s

,user_id,actual,weighted_random_recommendation
0,1,"[821867, 834484, 856942, 865456, 889248, 90795...","[6534178, 12604644, 1131634, 850102, 7409785]"
1,3,"[835476, 851057, 872021, 878302, 879948, 90963...","[9527161, 1098066, 12425418, 12132552, 866433]"
2,6,"[920308, 926804, 946489, 1006718, 1017061, 107...","[930137, 836445, 1080414, 841853, 9297229]"
3,7,"[840386, 889774, 898068, 909714, 929067, 95347...","[1086096, 6534178, 1101477, 1091976, 7409664]"
4,8,"[835098, 872137, 910439, 924610, 992977, 10412...","[879528, 1057094, 1070702, 945699, 6534178]"

### Задание 2. Расчет метрик
Рассчитайте Precision@5 для каждого алгоритма с помощью функции из вебинара 1. Какой алгоритм показывает лучшее качество?

In [9]:
result = pd.read_csv('./predictions_basic.csv')
result.head(2)

,user_id,actual,random_recommendation,popular_recommendation,itemitem,cosine,tfidf,own_purchases
0,1,[ 821867 834484 856942 865456 889248 ...,"[5586238, 1015228, 866118, 2416733, 2603573]","[6534178, 6533889, 1029743, 6534166, 1082185]","[981760, 1127831, 1098066, 826249, 878996]","[981760, 1127831, 1098066, 878996, 826249]","[981760, 1127831, 1098066, 826249, 878996]","[999999, 1082185, 1029743, 995785, 1004906]"
1,3,[ 835476 851057 872021 878302 879948 ...,"[161354, 63027, 1027802, 12263694, 307395]","[6534178, 6533889, 1029743, 6534166, 1082185]","[981760, 995242, 1029743, 840361, 961554]","[981760, 1004906, 961554, 1096036, 1080414]","[981760, 1004906, 859075, 1096036, 961554]","[999999, 1082185, 1098066, 6534178, 1127831]"

In [10]:
# your_code

### Задание 3*. Улучшение бейзлайнов и ItemItem

- Попробуйте улучшить бейзлайны, считая их на топ-5000 товаров
- Попробуйте улучшить разные варианты ItemItemRecommender, выбирая число соседей $K$.

In [ ]:
# your_code